.topContainer{
    border: solid salmon;
    height: 500px;
    width:100%;
    display:flex;
    justify-content: space-between;



}

.secondContainer{
    border: solid saddlebrown;
    height: 500px;
    width:100%;
    display:flex;
    justify-content: space-between;

}

.fathersDayDeals{

    border: solid yellow;
    height:500px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.savingsContainer{
    border: solid teal;
    height:300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dadswhoknowcontainer{
    border: solid purple;
    height: 400px;
    width:100%;


}
.toppics{
    width: 300px;
    height: 300px;
}
.midpics{
    width: 300px;
    height: 300px;

}
.dealspics{
    width:300px;
    height:300px;
}
.savingspics{
    width:200px;
    height:200px;
}